@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  --tw-placeholder-opacity: 1;
}

.theme-dark {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  --tw-placeholder-opacity: 1;
}
